<footer>
	<article>
	<section id="about">
		<h3>Tietoa palvelusta</h3>
		<p>Kisallioppiminen.fi tarjoaa ilmaisia ja avoimia materiaaleja matematiikan oppimisen ja opettamisen tueksi.</p>
		<p>Materiaalit ovat erityisesti suunniteltu tukemaan tehostetun kisällioppimisen menetelmän käyttöä.</p>
	</section>
	<section id="contact">
		<h3>Yhteystiedot</h3>
		<p class="facebook"><a href="https://www.facebook.com/groups/899303056853769/">Facebook-ryhmä</a></p>
	</section>
	<section id="license">
		<h3>Lisenssi</h3>
		<p>
			<img src="{{ site.baseurl }}/img/copyright.png" alt="Creative Commons copyright">
			Sivuston materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä ellei muuta mainita.
		</p>
		<p>Sivuston lähdekoodi löytyy <a href="https://github.com/kisallioppiminen">GitHubista</a>.</p>
	</section>
	</article>
</footer>
 
